/* src/toastStyles.css
.custom-toast {
    border-left: 5px solid hotpink !important;
    background: #ffffff !important;
    color: #222 !important;
    font-family: 'Poppins', sans-serif;
    padding: 1rem !important;
    font-weight: 500;
    font-size: 14px;
    border-radius: 12px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
  }
   */